[submodule "Advanced Vue.js Features from the Ground Up/vue-advanced-workshop"]
	path = Advanced Vue.js Features from the Ground Up/vue-advanced-workshop
	url = https://github.com/AndreasNasman/vue-advanced-workshop.git
[submodule "Complete Intro to Linux and the Command-Line/complete-intro-to-linux-and-the-cli"]
	path = Complete Intro to Linux and the Command-Line/complete-intro-to-linux-and-the-cli
	url = https://github.com/AndreasNasman/complete-intro-to-linux-and-the-cli.git
[submodule "Complete Intro to Web Development, v2/intro-to-web-dev-v2"]
	path = Complete Intro to Web Development, v2/intro-to-web-dev-v2
	url = https://github.com/AndreasNasman/intro-to-web-dev-v2.git
[submodule "Introduction to Bash, VIM & Regex/fmmn"]
	path = Introduction to Bash, VIM & Regex/fmmn
	url = https://github.com/AndreasNasman/fmmn.git
[submodule "Introduction to Vue 3/intro-to-vue"]
	path = Introduction to Vue 3/intro-to-vue
	url = https://github.com/AndreasNasman/intro-to-vue.git
[submodule "VIM Fundamentals/vim-fundamentals"]
	path = VIM Fundamentals/vim-fundamentals
	url = https://github.com/AndreasNasman/vim-fundamentals.git
[submodule "VIM Fundamentals/vim-nav-playground"]
	path = VIM Fundamentals/vim-nav-playground
	url = https://github.com/AndreasNasman/vim-nav-playground.git
[submodule "Visual Studio Code Can Do That?/workshop-vs-code-can-do-that"]
	path = Visual Studio Code Can Do That?/workshop-vs-code-can-do-that
	url = https://github.com/AndreasNasman/workshop-vs-code-can-do-that.git
