[submodule "Visual Studio Code Can Do That?/workshop-vs-code-can-do-that"]
	path = Visual Studio Code Can Do That?/workshop-vs-code-can-do-that
	url = https://github.com/AndreasNasman/workshop-vs-code-can-do-that.git
