html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a,
nav,
.primary,
.secondary {
  display: flex;
}

a,
h1 {
  font-size: 30px;
}

article,
nav {
  border: 1px solid black;
}

h1,
header {
  text-align: center;
}

a {
  align-items: center;
  color: darkslategray;
  flex: 1;
  font-weight: bold;
  padding-left: 1.5rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  flex-basis: 25%;
  padding: 0 1.5rem;
}

.article-main {
  flex-basis: 50%;
}

h1 {
  font-style: italic;
  font-weight: normal;
}

header {
  font: 60px "Snell Roundhand", cursive;
  margin: 3rem 0;
}

img {
  width: 100%;
}

nav {
  flex-basis: 75%;
  flex-direction: column;
}

nav a:nth-child(1) {
  background-color: lightgoldenrodyellow;
}

nav a:nth-child(2) {
  background-color: cyan;
}

nav a:nth-child(3) {
  background-color: lightseagreen;
}

nav a:nth-child(4) {
  background-color: dodgerblue;
}

nav a:nth-child(5) {
  background-color: hotpink;
}
