* {
  box-sizing: border-box;
}

.link,
.nav,
.primary,
.secondary {
  display: flex;
}

.article,
.nav {
  border: 1px solid black;
}

.h1,
.header {
  text-align: center;
}

.h1,
.link {
  font-size: 30px;
}

.article {
  flex-basis: 25%;
  padding: 0 1.5rem;
}

.article-main {
  flex-basis: 50%;
}

.h1 {
  font-style: italic;
  font-weight: normal;
}

.header {
  font: 60px "Snell Roundhand", sans-serif;
  padding: 3rem 0;
}

.img {
  width: 100%;
}

.link {
  align-items: center;
  color: gray;
  flex: 1;
  font-weight: bold;
  padding-left: 1rem;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link-local {
  background-color: green;
}

.link-opinion {
  background-color: blue;
}

.link-politics {
  background-color: yellow;
}

.link-sports {
  background-color: purple;
}

.link-technology {
  background-color: cyan;
}

.nav {
  flex-basis: 75%;
  flex-direction: column;
}
